# AÇIKLAMA;
String ifade içinde rakamla başlayan heceleri, sona taşıyan fonksiyon. 
Örneğin '65 Van'ın Plakası' string ifadesi 'Van'ın Plakası 65' olarak değiştirilir.

In [1]:
import pandas as pd

df = pd.DataFrame({"kategori" : ["telefon", "bilgisayar", "telefon", "telefon", "bilgisayar", "telefon", "telefon", "bilgisayar", "bilgisayar","bilgisayar"],
                    "model" : ["14_pro_max iphone" , "15S-FQ2028NTI 2N2M9EA Hewlett Packard", "12-Pro Xiaomi Redmi Note", "Samsung Galaxy S22", "13VI-069TR MSI TITAN GT77HX", "13 iphone", "12T-Pro Xiaomi", "Apple Macbook Air MGN93TU-A M1", "5530 Dell Gaming G15 G155530013WH", "Asus TUF Gaming F15 FX506HE-HN011"]
                    })

df.head(10)

     kategori                                  model
0     telefon                      14_pro_max iphone
1  bilgisayar  15S-FQ2028NTI 2N2M9EA Hewlett Packard
2     telefon               12-Pro Xiaomi Redmi Note
3     telefon                     Samsung Galaxy S22
4  bilgisayar            13VI-069TR MSI TITAN GT77HX
5     telefon                              13 iphone
6     telefon                         12T-Pro Xiaomi
7  bilgisayar         Apple Macbook Air MGN93TU-A M1
8  bilgisayar      5530 Dell Gaming G15 G155530013WH
9  bilgisayar      Asus TUF Gaming F15 FX506HE-HN011

## Fonksiyonu tanımlıyoruz;

In [2]:
def duzelt(cumle:str):    # String ifade içindeki rakamla başlayan kelimeleri, cümlenin sonuna taşıyan fonksiyon.
    gecici_metin = []    # String ifade içinde bulunan metinlerin depolanacağı gecici liste.
    gecici_rakam = []    # String ifade içinde bulunan rakamların depolanacağı gecici liste.
    rakam = "0123456789"    # hecelerin rakamla başlayıp başlamadığının kontrolü için kullanılan değişken. 

    kelimeler = cumle.split(" ") # String ifadeyi " " boşluk karakterine göre ayırıyoruz.

    for kelime in kelimeler:
        if kelime[0] in rakam:
            gecici_rakam.append(kelime)
        else:
             gecici_metin.append(kelime)
    
    yeni_cumle_listesi = gecici_metin + gecici_rakam    # "gecici_metin" ve "gecici_rakam" listeleribi birleştiriyoruz.
    yeni_cumle = " ".join(yeni_cumle_listesi).upper()   # "yeni_cumle_listesi" listesinde bulunan öğeleri birleştirip tüm harfleri büyük harfe çeviriyoruz

    return yeni_cumle.strip()    # strip() metodu ile String ifadenin başında ve sonunda bulunan boşlukları temizliyoruz.

## Fonksiyonu, DataFrame üzerinde uyguluyoruz;

In [3]:
df["model_duzenli"] = df["model"].apply(duzelt)
print(df.head(10))

     kategori                                  model  \
0     telefon                      14_pro_max iphone
1  bilgisayar  15S-FQ2028NTI 2N2M9EA Hewlett Packard
2     telefon               12-Pro Xiaomi Redmi Note
3     telefon                     Samsung Galaxy S22
4  bilgisayar            13VI-069TR MSI TITAN GT77HX
5     telefon                              13 iphone
6     telefon                         12T-Pro Xiaomi
7  bilgisayar         Apple Macbook Air MGN93TU-A M1
8  bilgisayar      5530 Dell Gaming G15 G155530013WH
9  bilgisayar      Asus TUF Gaming F15 FX506HE-HN011

                           model_duzenli
0                      IPHONE 14_PRO_MAX
1  HEWLETT PACKARD 15S-FQ2028NTI 2N2M9EA
2               XIAOMI REDMI NOTE 12-PRO
3                     SAMSUNG GALAXY S22
4            MSI TITAN GT77HX 13VI-069TR
5                              IPHONE 13
6                         XIAOMI 12T-PRO
7         APPLE MACBOOK AIR MGN93TU-A M1
8      DELL GAMING G15 G155530013WH 5530
9      ASUS TUF GAMING F15 FX506HE-HN011